JWT_SECRET=
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=

PAYSTACK_SECRET_KEY=
RESEND_API_KEY=

ADMIN_NOTIFICATION_EMAIL= your email here
FRONTEND_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

DATABASE_URL=your postgresql database string here
DIRECT_URL=